<div class="container">
  <select class="form-control col-xs-3 col-sm-3" id="selectedStudy"
                  required
                  [(ngModel)]="selectedStudy" name="selectedStudy"
                  (change)="getStudyDetails()"
                  >
            <option *ngFor="let study of studies" [value]="study">{{study}}</option>
          </select>
    <div [hidden]="submitted" *ngIf="showForm">
      <h1>Edit study details</h1>


      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="form-group row" *ngFor="let item of featuresToShow | keyvalue; let i = index">
          <label class="col-sm-3">{{item.key}}</label>
          <input type="text" class="form-control col-sm-3" [id]="inputId(item.value, 0)"
                 
                 [ngModel] = "getInformation(item.value, 0)"
                 (ngModelChange) = "setInformation($event, item.value, 0)"
                 [name]="inputId(item.value, 0)"
                >
          <input type="text" class="form-control col-sm-3" [id]="inputId(item.value, 1)"
                
                [ngModel] = "getInformation(item.value, 1)"
                (ngModelChange) = "setInformation($event, item.value, 1)"
                [name]="inputId(item.value, 1)"
               >
          <!-- <div [hidden]="name.valid || name.pristine"
               class="alert alert-danger" model.name>
            Name is required
          </div> -->
        </div>
  
       
  
        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
        <!-- <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button> -->
      </form>
    </div>
  
    <div [hidden]="!submitted" *ngIf="showForm">
      <h2>Current Study Record</h2>
      <div class="row">
        <div class="col-xs-3 col-sm-3">{{selectedStudy}}</div>
        <div class="col-xs-3 col-sm-3">Created</div>
        <div class="col-xs-3 col-sm-3">Status</div>
      </div>
      <div class="row" *ngFor="let item of featuresToShow | keyvalue">
        <div class="col-xs-3 col-sm-3">{{item.key}}</div>
        <div class="col-xs-3 col-sm-3">{{ getInformation(item.value, 0) }}</div>
        <div class="col-xs-3 col-sm-3">{{ getInformation(item.value, 1) }}</div>
      </div>
      <br>
      <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
  </div>